# < NHÓM 05 > LẬP TRÌNH CHO KHOA HỌC DỮ LIỆU
## 1. Hiểu dữ liệu
- Dữ liệu chính là điểm thi đại học của các học sinh THPT.
- Dữ liệu dòng: 
    - Ý nghĩa của mỗi dòng:
    - Có vấn đề các dòng có ý nghĩa khác nhau không?
- Dữ liệu cột:
    - Ý nghĩa của mỗi cột:
    - Mỗi cột hiện có kiểu dữ liệu là: 
    - Cột có kiểu dữ liệu không phù hợp, có thể xử lý tiếp không ?
## 2. Thu thập dữ liệu:
- Nguồn dữ liệu: từ một repo github
- Dạng input đầu vào: file csv
- Số lượng input đầu vào: 4 file csv
- Sự khác nhau giữa các input: **Có file khác nhau về số cột**

# THU THẬP DỮ LIỆU
- Để tiến hành thu thập dữ liệu, như đã nêu ở trên, các input có sự khác nhau nên ta phải tìm input khác (ở đây input data 2021, 2022 là khác so với các input data còn lại).
- Sau đó ta sẽ tiến hành thu thập dữ liệu và đưa về thành 1 data duy nhất (từ 4 input ta sẽ đưa về thành 1 input để tiền xử lý)
- Ta sẽ thực hiện theo các bước sau:
    - Bước 1: Đọc file input của 4 năm 
    - Bước 2: Xóa các cột dư thừa 
    - Bước 3: Thêm một cột mới để định danh cho file đó
    - Bước 4: Nối các dữ liệu lại với nhau và xuất thành 1 file csv mới.

Cùng làm thôi...

In [1]:
import pandas as pd
import numpy as np

## Bước 1:
- Chúng ta sẽ đọc từng file dữ liệu đã có sẵn.
- Các file được đặt trong thư mục: ./score_college_exam_data
- Các file sẽ có tên theo định dạng: <năm lấy dữ liệu>.csv
- Sau khi đọc, chúng ta lưu data dưới dạng một DataFrame có tên là year_<năm>_df

In [28]:
# shape = (n, 10) // n dòng, 10 cột là shape đúng
def open_data(year):
    filepath = './score_college_exam_data/' + year + '.csv'
    year_df = pd.read_csv(filepath)
    return year_df

year_2019_df = open_data('2019')
year_2020_df = open_data('2020')
year_2021_df = open_data('2021')
year_2022_df = open_data('2022')

,Unnamed: 0,Dia,GDCD,Hoa,Li,Ma_mon_ngoai_ngu,Ngoai_ngu,Sinh,Su,Toan,Van,sbd
0,0,7.75,8.75,NaN,NaN,N1,7.6,NaN,8.25,8.2,8.00,24008611
1,1,NaN,NaN,4.5,8.25,N1,8.0,6.00,NaN,8.6,6.17,51000032
2,2,4.25,5.75,NaN,NaN,NaN,NaN,NaN,4.00,5.2,4.75,51000005
3,3,4.75,5.00,NaN,NaN,NaN,NaN,NaN,2.25,4.4,4.50,51000021
4,4,8.25,7.50,NaN,NaN,N1,4.4,NaN,7.75,5.8,6.00,51000013
...,...,...,...,...,...,...,...,...,...,...,...,...
811846,811846,5.75,8.50,NaN,NaN,N1,3.4,NaN,4.50,4.4,4.75,26019104
811847,811847,NaN,NaN,4.5,3.75,N1,4.4,4.00,NaN,5.2,6.25,26019102
811848,811848,5.50,8.00,NaN,NaN,N1,2.8,NaN,5.50,2.8,5.00,26019099
811849,811849,6.75,8.50,NaN,NaN,N1,4.0,NaN,3.50,6.2,7.25,26019101
811850,811850,NaN,NaN,4.5,5.25,N1,2.2,3.75,NaN,6.4,5.75,26019097

## Bước 2:
- Xóa dữ liệu là các cột của df sao cho mỗi df có shape là (n, 10)

In [4]:
def drop_col(df, key):
    if df.shape[1] != 10:
        result = df.drop(df.keys()[key], axis = 1)
    else:
        return df
    return result

# Năm 2019:
key_del = [0, 5]
key_del_2021 = [0, 2, 9, 10, 14, 15, 16, 17, 18, 19]

# year_2019_df.drop(key_del[:2], axis = 1)
year_2019_df = drop_col(year_2019_df, key_del)
year_2020_df = drop_col(year_2020_df, key_del)
year_2021_df = drop_col(year_2021_df, key_del_2021)

- Sau khi xóa các cột dư thừa thì ta sẽ sắp xếp các cột dữ liệu theo dạng chuẩn (tự quy định)

In [5]:
key_truth = ['sbd', 'Toan', 'Van', 'Ngoai_ngu', 'Li', 'Hoa', 'Sinh', 'Su', 'Dia', 'GDCD']
key_2021_truth = ['id', 'mathematics_score', 'literature_score', 'foreign_language_score',
                 'physics_score', 'chemistry_score', 'biology_score',
	            'history_score', 'geography_score',	'civic_education_score']

year_2019_df = year_2019_df[key_truth]
year_2020_df = year_2020_df[key_truth]
year_2021_df = year_2021_df[key_2021_truth]

- Format các dữ liệu khác khi có tên cột chưa chuẩn (Để khi nối cột sẽ không bị thay đổi chiều dữ liệu).

In [6]:
year_2021_df.columns = key_truth
year_2022_df.columns = key_truth

## Bước 3:
Để phân biệt giữa các năm thì chúng ta sẽ thêm 1 cột mới vào year_<năm>_df với tên cột là 'year', đặt ở vị trí đầu của df và dữ liệu là năm đó.

In [7]:
def add_year_to_data(df, year):
    col = np.repeat(year, (df.shape[0]))
    if 'Year' not in df.keys():
        df.insert(0, 'Year', col, True)
    return df
    
year_2019_df = add_year_to_data(year_2019_df, 2019)
year_2020_df = add_year_to_data(year_2020_df, 2020)
year_2021_df = add_year_to_data(year_2021_df, 2021)
year_2022_df = add_year_to_data(year_2022_df, 2022)

## Bước 4:
- Nối các year_<năm>_df thành một df chứa dữ liệu của 4 năm từ 2019 đến 2022
- Sau đó viết dữ liệu ra một file csv mới lưu với tên là score_college_exam_data.csv

In [9]:
concatenate_df = pd.concat([year_2019_df, year_2020_df, year_2021_df, year_2022_df], axis = 0)
concatenate_df.to_csv('./score_college_exam_data/score_college_exam_data.csv')

# Khám phá dữ liệu (đan xen với pha tiền xử lý dữ liệu)

### Đọc dữ liệu từ tập tin 

Đọc dữ liệu từ file `score_college_exam_data.csv` và lưu vào DataFrame `core_df`.

In [41]:
core_df = pd.read_csv('./score_college_exam_data/score_college_exam_data.csv', index_col= "Unnamed: 0")
core_df.head()

   Year       sbd  Toan   Van  Ngoai_ngu    Li  Hoa  Sinh    Su   Dia  GDCD
0  2019  24008611   8.2  8.00        7.6   NaN  NaN   NaN  8.25  7.75  8.75
1  2019  51000032   8.6  6.17        8.0  8.25  4.5   6.0   NaN   NaN   NaN
2  2019  51000005   5.2  4.75        NaN   NaN  NaN   NaN  4.00  4.25  5.75
3  2019  51000021   4.4  4.50        NaN   NaN  NaN   NaN  2.25  4.75  5.00
4  2019  51000013   5.8  6.00        4.4   NaN  NaN   NaN  7.75  8.25  7.50

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

Ta tính số dòng và số cột của DataFrame `core_df` và lưu vào biến `shape` (tuple).

In [36]:
shape = core_df.shape
shape

(3673159, 12)

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng trong DataFrame `core_df` cho biết kết quả điểm thi đại học của học sinh Việt Nam từ năm 2019 đến năm 2022. Có vẻ không có vấn đề các dòng có ý nghĩa khác nhau (lúc sau, nếu phát hiện ra vấn đề thì ta sẽ quay lại đây). 

### Dữ liệu có các dòng bị lặp không?

In [40]:
id = list(core_df.index)
num_duplicated_rows = len(id)-len(set(id))
if(num_duplicated_rows == 0):
    print("Dữ liệu không bị lặp")
else: 
    print("Dữ liệu bị lặp " + str(id) + " dòng")

Dữ liệu không bị lặp

## Mỗi cột có ý nghĩa gì?

- **Year** là năm thi của thí sinh

- **sbd** là số báo danh của thí sinh

- Các cột còn lại là điểm thi theo các môn của các thí sinh. Những giá trị NaN là môn mà thí sinh đó không tham gia thi.

In [44]:
core_df.columns

Index(['Year', 'sbd', 'Toan', 'Van', 'Ngoai_ngu', 'Li', 'Hoa', 'Sinh', 'Su',
       'Dia', 'GDCD'],
      dtype='object')


### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [42]:
core_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3673159 entries, 0 to 995440
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   Year       int64
 1   sbd        int64
 2   Toan       float64
 3   Van        float64
 4   Ngoai_ngu  float64
 5   Li         float64
 6   Hoa        float64
 7   Sinh       float64
 8   Su         float64
 9   Dia        float64
 10  GDCD       float64
dtypes: float64(9), int64(2)
memory usage: 336.3 MB

Các cột đều có dạng `numeric` và đều phù hợp nên không cần xử lý kiểu dữ liệu của các cột nữa.

### Với mỗi cột có kiểu dữ liệu dạng số, các giá trị được phân bố như thế nào?

Với các cột điểm, Ta sẽ tính:
- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu 
- Giá trị min
- Giá trị lower quartile (phân vị 25)
- Giá trị median (phân vị 50)
- Giá trị upper quartile (phân vị 75)
- Giá trị max


Bạn sẽ lưu kết quả vào DataFrame `num_col_info_df`, trong đó: 
- Tên của các cột là tên của các cột điểm trong `core_df`
- Tên của các dòng là: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"

Để dễ nhìn, tất cả các giá trị ta đều làm tròn với 1 chữ số thập phân bằng phương thức `.round(1)`.

In [53]:
def get(col):
    NaNValue = col.isna().sum()
    valu1 = col.dropna()
    x = []
    x.append((NaNValue/len(col))*100)
    x.append(np.percentile(valu1, 0))
    x.append(np.percentile(valu1, 25))
    x.append(np.percentile(valu1, 50))
    x.append(np.percentile(valu1, 75))
    x.append(np.percentile(valu1, 100))
    return np.array(x).round(1)

index_info=["missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"]
dict_info = {}
for i in core_df.columns:
    if core_df[i].dtype in [np.float32, np.float64]:
        dict_info[i] = get(core_df[i])   
num_col_info_df =pd.DataFrame(dict_info,index_info)
num_col_info_df

                Toan   Van  Ngoai_ngu    Li   Hoa  Sinh    Su   Dia  GDCD
missing_ratio    0.9   1.5       11.7  66.3  66.1  66.6  33.8  34.5  43.8
min              0.0   0.0        0.0   0.0   0.0   0.0   0.0   0.0   0.0
lower_quartile   5.0   5.5        3.4   5.5   5.2   4.0   4.2   5.8   7.2
median           6.6   6.5        4.4   6.8   6.5   5.0   5.5   6.5   8.0
upper_quartile   7.8   7.2        6.0   7.8   7.8   6.0   7.0   7.5   8.8
max             10.0  10.0       10.0  10.0  10.0  10.0  10.0  10.0  10.0