# < NHÓM 05 > LẬP TRÌNH CHO KHOA HỌC DỮ LIỆU
## 1. Hiểu dữ liệu
- Dữ liệu chính là điểm thi đại học của các học sinh THPT.
- Dữ liệu dòng: 
    - Ý nghĩa của mỗi dòng:
    - Có vấn đề các dòng có ý nghĩa khác nhau không?
- Dữ liệu cột:
    - Ý nghĩa của mỗi cột:
    - Mỗi cột hiện có kiểu dữ liệu là: 
    - Cột có kiểu dữ liệu không phù hợp, có thể xử lý tiếp không ?
## 2. Thu thập dữ liệu:
- Nguồn dữ liệu: từ một repo github
- Dạng input đầu vào: file csv
- Số lượng input đầu vào: 4 file csv
- Sự khác nhau giữa các input: **Có file khác nhau về số cột**

# THU THẬP DỮ LIỆU
- Để tiến hành thu thập dữ liệu, như đã nêu ở trên, các input có sự khác nhau nên ta phải tìm input khác (ở đây input data 2021, 2022 là khác so với các input data còn lại).
- Sau đó ta sẽ tiến hành thu thập dữ liệu và đưa về thành 1 data duy nhất (từ 4 input ta sẽ đưa về thành 1 input để tiền xử lý)
- Ta sẽ thực hiện theo các bước sau:
    - Bước 1: Đọc file input của 4 năm 
    - Bước 2: Xóa các cột dư thừa 
    - Bước 3: Thêm một cột mới để định danh cho file đó
    - Bước 4: Nối các dữ liệu lại với nhau và xuất thành 1 file csv mới.

Cùng làm thôi...

In [57]:
import pandas as pd
import numpy as np

## Bước 1:
- Chúng ta sẽ đọc từng file dữ liệu đã có sẵn.
- Các file được đặt trong thư mục: ./score_college_exam_data
- Các file sẽ có tên theo định dạng: <năm lấy dữ liệu>.csv
- Sau khi đọc, chúng ta lưu data dưới dạng một DataFrame có tên là year_<năm>_df

In [58]:
# shape = (n, 10) // n dòng, 10 cột là shape đúng
def open_data(year):
    filepath = './score_college_exam_data/' + year + '.csv'
    year_df = pd.read_csv(filepath)
    return year_df

year_2019_df = open_data('2019')
year_2020_df = open_data('2020')
year_2021_df = open_data('2021')
year_2022_df = open_data('2022')

## Bước 2:
- Xóa dữ liệu là các cột của df sao cho mỗi df có shape là (n, 10)

In [59]:
def drop_col(df, key):
    if df.shape[1] != 10:
        result = df.drop(df.keys()[key], axis = 1)
    else:
        return df
    return result

# Năm 2019:
key_del = [0, 5]
key_del_2021 = [0, 2, 9, 10, 14, 15, 16, 17, 18, 19]

# year_2019_df.drop(key_del[:2], axis = 1)
year_2019_df = drop_col(year_2019_df, key_del)
year_2020_df = drop_col(year_2020_df, key_del)
year_2021_df = drop_col(year_2021_df, key_del_2021)

- Sau khi xóa các cột dư thừa thì ta sẽ sắp xếp các cột dữ liệu theo dạng chuẩn (tự quy định)

In [60]:
key_truth = ['sbd', 'Toan', 'Van', 'Ngoai_ngu', 'Li', 'Hoa', 'Sinh', 'Su', 'Dia', 'GDCD']
key_2021_truth = ['id', 'mathematics_score', 'literature_score', 'foreign_language_score',
                 'physics_score', 'chemistry_score', 'biology_score',
	            'history_score', 'geography_score',	'civic_education_score']

year_2019_df = year_2019_df[key_truth]
year_2020_df = year_2020_df[key_truth]
year_2021_df = year_2021_df[key_2021_truth]

- Format các dữ liệu khác khi có tên cột chưa chuẩn (Để khi nối cột sẽ không bị thay đổi chiều dữ liệu).

In [67]:
year_2021_df.columns = key_truth
year_2022_df.columns = key_truth

## Bước 3:
Để phân biệt giữa các năm thì chúng ta sẽ thêm 1 cột mới vào year_<năm>_df với tên cột là 'year', đặt ở vị trí đầu của df và dữ liệu là năm đó.

In [69]:
def add_year_to_data(df, year):
    col = np.repeat(year, (df.shape[0]))
    if 'Year' not in df.keys():
        df.insert(0, 'Year', col, True)
    return df
    
year_2019_df = add_year_to_data(year_2019_df, 2019)
year_2020_df = add_year_to_data(year_2020_df, 2020)
year_2021_df = add_year_to_data(year_2021_df, 2021)
year_2022_df = add_year_to_data(year_2022_df, 2022)

,Year,sbd,Toan,Van,Ngoai_ngu,Li,Hoa,Sinh,Su,Dia,GDCD
0,2019,24008611,8.2,8.00,7.6,NaN,NaN,NaN,8.25,7.75,8.75
1,2019,51000032,8.6,6.17,8.0,8.25,4.5,6.0,NaN,NaN,NaN
2,2019,51000005,5.2,4.75,NaN,NaN,NaN,NaN,4.00,4.25,5.75
3,2019,51000021,4.4,4.50,NaN,NaN,NaN,NaN,2.25,4.75,5.00
4,2019,51000013,5.8,6.00,4.4,NaN,NaN,NaN,7.75,8.25,7.50
...,...,...,...,...,...,...,...,...,...,...,...
995436,2022,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00
995437,2022,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50
995438,2022,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00
995439,2022,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75
995440,2022,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50

## Bước 4:
- Nối các year_<năm>_df thành một df chứa dữ liệu của 4 năm từ 2019 đến 2022
- Sau đó viết dữ liệu ra một file csv mới lưu với tên là score_college_exam_data.csv

In [70]:
concatenate_df = pd.concat([year_2019_df, year_2020_df, year_2021_df, year_2022_df], axis = 0)
concatenate_df.to_csv('./score_college_exam_data/score_college_exam_data.csv')